In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_csv('average-rating.csv')

In [3]:
df

                     name  year  average_rating  users_rated
0               Codenames  2015         7.71148        51209
1           King of Tokyo  2011         7.23048        48611
2             Love Letter  2012         7.25253        47014
3                Splendor  2014         7.47331        45239
4          7 Wonders Duel  2015         8.12219        40971
...                   ...   ...             ...          ...
7480        Shadow Master  2016         5.96452           31
7481                   40  2018         7.17714           35
7482         Title Bout 2  2017         8.86571           35
7483            Rattaneer  2017         6.65903           31
7484  Mit Mist und TÃ¼cke  2014         5.93333           30

[7485 rows x 4 columns]

In [4]:
df['average_rating'] = df.average_rating.apply(np.floor)

In [5]:
df

                     name  year  average_rating  users_rated
0               Codenames  2015             7.0        51209
1           King of Tokyo  2011             7.0        48611
2             Love Letter  2012             7.0        47014
3                Splendor  2014             7.0        45239
4          7 Wonders Duel  2015             8.0        40971
...                   ...   ...             ...          ...
7480        Shadow Master  2016             5.0           31
7481                   40  2018             7.0           35
7482         Title Bout 2  2017             8.0           35
7483            Rattaneer  2017             6.0           31
7484  Mit Mist und TÃ¼cke  2014             5.0           30

[7485 rows x 4 columns]

In [19]:
df[(df.year==2015) & (df.average_rating==9)].count()

name              0
year              0
average_rating    0
users_rated       0
dtype: int64

In [7]:
df.iloc[2].year

2012

In [8]:
math.floor(2.2)

2